<body class="fondo">
<div class="container" style="width:30%;">
  <form asp-action="Escalera" asp-controller="Home" >
    <div class="form-group">
      <label  style="font-size:30px" text-aling="center" for="tamanoTorre">Tamaño Torre</label>
      <input class="form-control" type="number" id="tamanoTorre" name=tamanoTorre min="5" max="50"/>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Mostrar Escalera</button>
  </form>
</div>
</body>